.AddProperty{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

select {
    width: 180px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  option {
    width: 180px;
    padding: 5px;
    color: black;
    box-sizing: border-box;
  }

  input {
      width: 180px;
      padding: 10px;
      box-sizing: border-box;
  }