.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 185px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 37px; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  .filterLink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .filterTitle {
      padding-top:30px;
      text-decoration: none;
      color: #818181;
      font-size: 15px;
      padding-left: 16px;
  }
  
  .filterLink:hover {
    color: #f1f1f1;
  }

  .results {
      margin-left: 160px;
  }

.col {
    margin-left: 10px; 
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-right: 0px;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
  }

.propertyCard{
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    margin: 10px;
    width: 100%;
}

.Propertycardimage{
    padding-top: 25px;
    width: 100%;
    background-color: rgb(151, 148, 144);
    text-align: center;
    padding-bottom: 50px;
    padding: 3px;
    padding-right: 0px;
    padding-left: 0px;
    .head {
        padding-left: 10px;
    }
}

.type {
    padding: 3px;
    width: 100%;
    text-align: center;   
}

.bedrooms {
    padding: 3px;
    width: 100%;
    text-align: center;   
}

.bathrooms {
    padding: 3px;
    width: 100%;
    text-align: center;   
}

.price {
    padding: 3px;
    width: 100%;
    text-align: center;   
}

.email {
    padding: 3px;
    width: 100%;
    text-align: center;  
}

.error {
    color: red;
    font-weight: bold;
    font-size: 20px;
}